* {
  font-family: "Roboto";
}
.about-container {
  box-shadow: 0 0 30px black;
  margin-top: 70px;
  width: 60%;
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}
.my-name {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
}
.profile-main-info {
  display: flex;
  padding-left: 4rem;
  padding-right: 4rem;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
}
.picture-container {
  width: 40%;
  background: #294477;
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
}
.green-rectangle {
  background: #294477;
  width: 100%;
  height: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.profile-text {
  box-sizing: border-box;
  width: 40%;
  font-weight: bolder;
  font-size: 1.4rem;
}
.profile-pic {
  margin: auto;
  width: 90%;
}
.profile-icon {
  font-size: 2rem;
  color: #294477;
  transition: 0.3s;
}
.profile-icon:hover {
  transform: translateY(-0.3rem) rotate(-10deg);
}
.profile-row {
  display: flex;
}
.technologies {
  background: #294477;
  color: white;
  margin-top: 2rem;
  height: 80px;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 1.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.technologies-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.techno-card {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 35%;
  height: 400px;
  box-shadow: 2px 2px 15px rgb(163, 163, 163);
}
.tech-icon {
  height: 25%;
  display: block;
  margin: auto;
}
.techno-title {
  padding: 0.5rem;
  background: #294477;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}
.contact-me {
  margin-top: 4rem;
  background: #294477;
  width: 100%;
  padding: 1.8rem 5% 1.8rem 5%;
  box-sizing: border-box;
}
.contact-me-form {
  display: flex;
  flex-direction: column;
}
.frm-lbl {
  margin-top: 1rem;
  font-weight: bolder;
  color: white;
}
.frm-input {
  width: 100%;
  margin-bottom: 1rem;
  height: 2.3rem;
  border: 0;
  padding-left: 1rem;
  box-sizing: border-box;
  border: 2px solid black;
}

.btn-submit {
  width: 100%;
  margin: auto;
  margin-top: 1.5rem;
  background: black;
  color: white;
  border: 2px solid black;
  padding: 1rem;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.btn-submit:hover {
  cursor: pointer;
}
.frm-textarea {
  height: 8rem;
}
@media only screen and (max-width: 1250px) {
  .about-container {
    flex-direction: column;
    width: 100%;
  }
  .green-rectangle {
    display: none;
  }
  .profile-main-info {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .picture-container,
  .profile-text {
    width: 100%;
    text-align: center;
  }

  .picture-container {
    padding: 0;
    background: white;
  }
  .profile-row {
    width: 100%;
    display: block;
    font-size: 1rem;
    text-align: center;
  }
  .profile-pic {
    margin: auto;
  }
  .about {
    width: 100%;
    margin: 0;
  }
  .about h1 {
    text-transform: uppercase;
  }

  .contact-me {
    width: 100%;
  }
  .contact-me-form {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .frm-input {
    width: 100%;
  }
  .btn-submit {
    margin-bottom: 10rem;
  }
}
