* {
  font-family: "Roboto", cursive;
}
.hero-form-container {
  margin-top: 3rem;
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1rem;
}
.hero-form input {
  height: 2rem;
  width: 80%;
  outline: none;
  border: 0;
  padding-left: 1rem;
}
.hero-not-found {
  background: rgba(255, 0, 0, 0.466);
  width: 20rem;
  padding: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-stat-row:hover {
  box-shadow: none;
}
.search-hero {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  width: 25rem;
  box-shadow: -1px -1px 30px rgba(0, 0, 0, 0.205);
  margin-left: auto;
  border-radius: 10px;
  margin-right: auto;
}
.hero-submit {
  border: 0;
  padding: 0.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 2rem;
  outline: none;
  background: #294477;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}
.hero-submit:hover {
  cursor: pointer;
}
.hero-info {
  display: flex;
  padding: 2rem;
}

.card-header {
  background: #294477;
  padding: 1rem;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}
.front-card {
  background: #294477;
  width: 300px;
  height: 400px;
  color: white;
  border-radius: 20px;
  padding: 0.5rem;
}
.back-card {
  background: #294477;
  width: 300px;
  height: 400px;
  padding-top: 40%;
  box-sizing: border-box;
  text-align: center;
  font-size: 2rem;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.hero-picture {
  width: 70%;
}
.hero-profile {
  margin-top: 1rem;
  text-align: center;
}
