* {
  font-family: "Roboto", cursive;
}
.hero-form-container {
  margin-top: 5rem;
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1rem;
}
.hero-form input {
  height: 3rem;
  font-size: 1.5rem;
  width: 80%;
  outline: none;
  border: 0;
  padding-left: 1rem;
}
.hero-not-found {
  background: rgba(255, 0, 0, 0.466);
  width: 20rem;
  padding: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.search-hero {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  width: 25rem;
  box-shadow: -1px -1px 30px rgba(0, 0, 0, 0.205);
  margin-left: auto;
  border-radius: 10px;
  margin-right: auto;
}
.hero-submit {
  border: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 3rem;
  outline: none;
  background: #294477;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
  bottom: 4px;
}
.hero-submit:hover {
  cursor: pointer;
}
.hero-info {
  background: white;
  padding: 2rem 0rem 2rem 0rem;
  width: 50%;
  margin: auto;
}
.hero-main {
  box-sizing: border-box;
  padding-left: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title {
  width: 100%;
  background: #294477;
  color: white;
  font-weight: bolder;
  padding: 1rem;
  box-sizing: border-box;
}
.hero-profile {
  text-align: center;
}
.title-aliases {
  width: 55%;
}
.alias {
  list-style-type: none;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #294477;
}
.aliases {
  margin-top: 1rem;
  text-align: right;
}
.hero-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.blue-row {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 40px;
  background: #294477;
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  padding-top: 0.7rem;
}
.appearance {
  display: flex;
  text-align: center;
}
.appearance-item {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.appearance-title {
  font-weight: bolder;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #294477;
}
.blue-text {
  font-size: 1.6rem;
}
.hero-stats {
  width: 90%;
  margin: auto;
}
.hero-stat-row {
  background: #294477;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  display: flex;
  transition: 0.3s;
}
.hero-stat-row:hover {
  box-shadow: none;
  transform: translateX(-0.2rem) translateY(-0.2rem);
}
.extra-blue {
  background: #294477;
  padding: 0.3rem;
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.extra-info {
  display: flex;
}
.work-base {
  padding-left: 1rem;
  width: 50%;
}
.work,
.base {
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
}
.hero-bio {
  text-align: right;
}
.hero-bio li {
  list-style-type: none;
}
