.home-container {
  margin-top: 70px;
  background: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  font-family: "Roboto";
}
.post {
  margin: auto;
  width: 65%;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5281);
}
.plus:hover {
  font-weight: bolder;
  cursor: pointer;
}
.post-title {
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  background: #294477;
  color: white;
  padding-left: 1rem;
  padding-top: 0.3rem;
  box-sizing: border-box;
  font-weight: bolder;
  font-size: 1.5rem;
  height: 40px;
}
.post-author,
.post-content {
  background: white;
  font-weight: 500;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.1rem;
}
.post,
.post-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.post,
.post-actions {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.post-actions {
  padding-left: 2rem;
  padding-top: 0.4rem;
  display: flex;
  font-size: 1.5rem;
  margin-top: 1rem;
  background: #294477;
  color: white;
  height: 40px;
  box-sizing: border-box;
}
.action:hover {
  transition: 0.15s;
  transform: translateY(-0.1rem) translateX(-0.1rem);
}
.post-author {
  margin-bottom: 0.6rem;

  margin-top: 2px;
  font-weight: bolder;
  color: #294477;
}
