.nav-bar {
  height: 70px;
  margin-top: 0;
  top: 0;
  position: absolute;
  width: 100%;
  background: #294477;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
}

.nav-title {
  margin: auto 0 auto 2rem;
  font-weight: bold;
}

.nav-list {
  display: flex;
  list-style-type: none;
  height: 70px;
  padding-right: 2rem;
}
.nav-list li {
  margin-top: auto;
  margin-bottom: auto;
}
.nav-item {
  letter-spacing: 0.1rem;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  height: 70px;
  box-sizing: border-box;
  padding-top: 1.3rem;
  font-weight: bolder;
  font-family: "Roboto";
  font-size: 18px;
  transition: 0.3s;
}
.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.nav-item:hover {
  background: black;
}

@media only screen and (max-width: 1080px) {
  .nav-title {
    display: none;
  }
  .nav-list {
    margin: auto;
  }
}
