.error-page {
  padding: 2rem;
  font-family: sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.1);
}
.back-home {
  background: black;
  border: 0;
  color: white;
  margin-top: 2rem;
  padding: 0.3rem;
}
.back-home a {
  color: white;
  text-decoration: none;
}
