.post-container {
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background: white;
  box-shadow: 1px 1px 25px black;
  border-radius: 1.1rem;
}
.post-title-container {
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.post-data-container {
  padding: 1rem;
  box-sizing: border-box;
}
.post-title-container {
  background: rgb(167, 30, 167);
  border-top-left-radius: 1.1rem;
  border-top-right-radius: 1.1rem;
}
.post-content {
  background: rgba(167, 30, 167, 0.158);
  padding: 0.3rem;
  border-radius: 0.5rem;
}
.post-author,
.post-hero,
.post-content {
  padding-top: 0.5rem;
}
.post-title {
  color: white;
}

.interractions {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem 0 1rem;
}
.interractions li {
  list-style-type: none;
  font-size: 1.5rem;
  color: rgb(167, 30, 167);
}
.interractions li:hover {
  cursor: pointer;
}
.special {
  color: rgb(167, 30, 167);
  font-weight: bolder;
  border-bottom: 1px solid black;
}
